<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Failed</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div class="container mx-auto mt-20">
        <div class="flex justify-center">
            <div class="bg-white p-6 rounded-lg shadow-md text-center w-full max-w-lg">
                <h1 class="text-3xl font-bold text-red-600">Payment Failed!</h1>
                <p class="mt-4 text-gray-700">Unfortunately, your buy Course and payment could not be processed at this time.</p>
                <p class="mt-2 text-gray-700">Please try again later or contact support for assistance.</p>
                <a href="https://main--starlit-valkyrie-6a1098.netlify.app" class="mt-4 inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-200">Back to Home</a>
            </div>
        </div>
    </div>
</body>

</html>
